{% extends "layout.html" %}
{% block content %}
    <header class="site-header">
      <nav class="navbar navbar-expand-md navbar-dark bg-steel fixed-top">
        <div class="container">
          <a class="navbar-brand mr-4" href="/">Flask Blog</a>
          <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarToggle" aria-controls="navbarToggle" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarToggle">
            <!-- Navbar Right Side -->
            <div class="navbar-nav">
                <a class="nav-item nav-link" href="{{ url_for('Assign') }}">Assign</a>
                <a class="nav-item nav-link" href="{{ url_for('RegisterProject') }}">Register Project</a>
                <a class="nav-item nav-link" href="{{ url_for('Register') }}">Register User</a>
                <a class="nav-item nav-link" href="{{ url_for('logout') }}">Logout</a>
            </div>
          </div>
        </div>
      </nav>
    </header>
    <div class="content-section">
        <form2 method="POST" method="GET" action="">
            {{ form.hidden_tag() }}
            {{ form.csrf_token }}
            <fieldset class="form-group">
                <legend class="border-bottom mb-4">Select Project</legend>
                {{ form.project.label(class="form-control-label") }}
                <select class="form-control" id="continent_selector" name="project" size=1 multiple>

                        <option value= >Select Project</option>
               
                    {% for project in form.project.choices %}

                        <option value= {{project}} >{{project}}</option>

                    {% endfor %}
                     
                </select>
                <legend class="border-bottom mb-4">Select User</legend>
                <select class="form-control" id="continent_selector" name="Username" size=1 multiple>
                    {{ form.username.label(class="form-control-label") }}

                        <option value= >Select User</option>


                    {% for username in form.username.choices %}

                        <option value= {{username}} >{{username}}</option>

                    {% endfor %}
                     
                </select>
                <div class="form-group">
                    {{ form.submit(class="btn btn-outline-info") }}
                </div>
            </fieldset>     
        </form2>
    </div>
{% endblock content %}