{% extends "layout.html" %}
{% block head %}
    <head>
        <script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
        <script type=text/javascript>
            $(function() {
              $(select name=['project']).change( function() {
                $.getJSON('/background_process', {
                  project: $('input[name="project"]').val(),
                }, function(data) {
                  $("#result").val(data.result);
                });
                return false;
              });
            });
        </script>
    </head>
{% endblock %}
{% block content %}
 <header class="site-header">
      <nav class="navbar navbar-expand-md navbar-dark bg-steel fixed-top">
        <div class="container">
          <a class="navbar-brand mr-4" href="/">Daily Vector</a>
          <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarToggle" aria-controls="navbarToggle" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarToggle">
            <!-- Navbar Right Side -->
            <div class="navbar-nav">
                <a class="nav-item nav-link" href="{{ url_for('StatusUpdate') }}">Status Update</a>
                <a class="nav-item nav-link" href="{{ url_for('logout') }}">Logout</a>
            </div>
          </div>
        </div>
      </nav>
    </header>
    <div class="content-section">
        <form method="POST" method="GET">
            {{ form.hidden_tag() }}
            {{ form.csrf_token }}
            <fieldset class="form-group">
               <legend class="border-bottom mb-4">View Status</legend>
               <div class="form-group" >
                    {{ form.project.label(class="form-control-label") }}
                <select class="form-control" id="project" name="project" size=1>
                    {{ form.project.label(class="form-control-label") }}

                        <option >Select Project</option>

                    
                     {% for p in choicesp %}

                        <option value= {{p}} >{{p}}</option>

                     {% endfor %}
                     
                </select>
            </div>
                <div class="form-group">
                    {{ form.username.label(class="form-control-label") }}
               <select class="form-control"  id="result" name="username" size=1>
                	{{ form.username.label(class="form-control-label") }}

                        <option >Select User</option>

                    
                     {% for u in choices %}

                        <option value= {{u.username}} >{{u.username}}</option>

                     {% endfor %}
                </select>
            </div>
                <div class="form-group">
                    {{ form.date.label(class="form-control-label") }}
                    {{ form.date(class="form-control form-control-lg", placeholder="yy-mm-dd") }}
                </div>
                <div class="form-group">
                    {{ form.submit(class="btn btn-outline-info") }}
                </div>
                {% if cc or bcc%}
                <article class="media content-section">
              <div class="form-group">
                {{ form.mailcc.label(class="form-control-label") }}
                {{ form.mailcc(class="form-control form-control-lg",value=cc.mailcc) }}
              </div>
              </article>
              <article>
                <div class="form-group">
                {{ form.mailbcc.label(class="form-control-label") }}
                {{ form.mailbcc(class="form-control form-control-lg",value=bcc) }}
                </div>
                </article>
                {% if stat%}
                    <div class="panel-body" style="font-family:'Tahoma'">
                        Hi,
                        <br><br>Following are the status updates for 
                        <b>{{stat.date}}</b>
                        <br><br>
                    {% for s in stat %}
                        <div style="height:30px;text-valign:center;">
                        <b>Name : {{s.username}}</b>
                        </div>
                        <div style="height:30px;text-valign:center;">
                        <b><i>{{s.env}}:</i></b>
                        </div>
                        {% for u in s.status %}
				                    <p><b>{{u.jira_no}}:</b>: {{ u.desc }}</p>
                            <p><b>Status : {{u.status}}</b></p>
                            <p><ul><li>{{u.Comment}}</li></ul></p>
                        {% endfor %}
                     </div>
                {% endfor %}
                {% endif %}
                {% endif %}
        </form>
  
    </div>
{% endblock content %}